<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="/client/public/css/formatacao.css">
    <link rel="stylesheet" href="/client/public/css/style.css">
    <link rel="stylesheet" href="/client/public/css/curso.css">
    <link rel="stylesheet" href="/client/public/css/inicial.css">
    <link rel="stylesheet" href="/client/public/css/siler.css">
    <link rel="stylesheet" href="/client/public/css/oferta.css">
    <link rel="stylesheet" href="/client/public/css/pergunta.css">
    <link rel="stylesheet" href="/client/public/css/cards.css">
    <link rel="stylesheet" href="/client/public/css/rodape.css">
    <link rel="stylesheet" href="/client/public/css/certficado.css">
    <link rel="stylesheet" href="/client/public/css/provaSocial.css">

    <title>Estética - Amanda</title>
</head>

<body>
    <section id="inicial" class="">
        <div class="textosInicial">
            <div>
                <div class="headline">
                    <h1>Se especialize como uma Lash Designer</h1>
                    <p>Crie um Negócio de Sucesso na Área da estética!</p>
                    <p>Aprenda as técnicas mais avançadas e conquiste sua independência financeira.</p>
                    <p>Domine a arte dos cílios e transforme o seu olhar em um negócio lucrativo.</p>

                    <div class="socialmedia">
                        <a href="https://www.instagram.com/amandasouzaastudio/">
                            <img src="/client/public/img/instagram.png" alt="Ícone do Instagram" height="30" width="30"> </a>
                        <a href="">
                            <img src="/client/public/img/whatsapp.png" alt="" height="30" width="30"> </a>
                    </div>

                    <div class="containervideo">
                        <video class="video" src="/client/public/video/video-pag-de-vendas_fVqs3EM2.mp4" controls></video>
                        <img id="poster" src="/client/public/img/sejalashvdd.png" alt="Preview do Vídeo" class="video-poster">
                        <spa><i class="ti ti-player-play"></i></spa>
                    </div>

                    <div class="btn-insc">
                        <button onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';" class="btn-cta">FAZER MINHA
                            INSCRIÇÃO!</button>
                    </div>

                </div>
            </div>
    </section>

    <section id="curso">
        <div class="textos">
            <h1>Como você acessa o seu curso?</h1>
            <p>Após finalizar o seu pedido você irá receber um e-mail contendo todas as informações para acessar a sua
                área restrita e assistir as aulas.</p>
            <p>Pelo e-mail você vai conseguir fazer o login na área de membros, assistir as aulas, baixar os bônus e
                emitir o seus certificados.</p>
            <button onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';" class="btn-cta">QUERO ME TORNAR UMA
                LASH BOSS</button>
        </div>
    </section>

    <div class="containerCardSiler ">
        <div class="hl_siler">
            <h1>Módulos</h1>
            <p>Acompanhe todos módulos disponibilizados no nosso curso, e descubra como será sua jornada para se tornar
                uma Lash Boss!</p>
        </div>
        <div class="containerCard">
            <div class="slide">
                <div class="item" style="background-image: url(/client/public/img/10.jpeg);">
                    <div class="content">
                        <div class="name">Seja uma Lash Designer </div>
                        <div class="des">Higienização é uma parte fundamental e inicial para uma Lash Designer</div>
                        <button onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';">Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/20.jpeg);">
                    <div class="content">
                        <div class="name">Modulo 1 - Comece por aqui </div>
                        <div class="des">suporte comunidade Seus primeiros passos com Lash Boss Oportunidade de carreira
                            Seja bem vinda ao curso/ oque voce vai aprender</div>
                        <button onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';">Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/5.jpeg);">
                    <div class="content">
                        <div class="name">Modulo 2 - (pré cuidados) / Materiais / Higienização (O que você precisa
                            saber)</div>
                        <div class="des"></div>
                        <button onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';">Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/99.jpeg);">
                    <div class="content">
                        <div class="name">Modulo 3 - Técnicas / Aplicação / Erros para não cometer (Execução)</div>
                        <div class="des">Melhores técnicas para executar em menos tempos. Erros para evitar um Cliente
                            insatisfeito</div>
                        <button onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';">Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/4.jpeg);">
                    <div class="content">
                        <div class="name">Modulo 4 - Manutenção / remoção / pós cuidados </div>
                        <div class="des">Peridicidade para Manutenção, remoção e pós cuidado para manter o cliente Fixo
                            com você.</div>
                        <button onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';">Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/testebom.jpeg);">
                    <div class="content">
                        <div class="name">Modulo 5 - Definir preços / Técnicas de comunicação / Marketing pessoal </div>
                        <div class="des">Saiba definir os preços com base no custo dos Equipamentos e tempo de esforço
                            por cliente.</div>
                        <button onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';">Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/teste.jpeg);">
                    <div class="content">
                        <div class="name">Modulo Bônus - Pós atendimento </div>
                        <div class="des">Saiba definir os preços com base no custo dos Equipamentos e tempo de esforço
                            por cliente. Esse módulo fornece técnicas de comunicação para fazer o cliente ter o
                            pertencimento do lugar. Por úlitmo, um marketing frequente para manter seu conteúdo
                            atualizado.</div>
                        <button onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';">Seja Lash</button>
                    </div>
                </div>
            </div>

            <div class="button">
                <button class="prev"><i class="ti ti-arrow-narrow-left"></i></button>
                <button class="next"><i class="ti ti-arrow-narrow-right"></i></button>
            </div>

        </div>
    </div>

    <div class="hl_cards">
        <h1>Técnicas</h1>
        <p>Conheça todas técnicas que serão introduzidas para seu aprendizado nesse curso!</p>
    </div>
    <div class="containerCards">
        <div class="container">
            <div class="card">
                <div class="box">
                    <div class="glass"></div>
                    <div class="content">
                        <h1>1. Alongamento de Cílios
                        </h1>
                        <p>O alongamento de cílios "Fio a Fio" é a técnica mais básica e popular de aplicação de cílios.
                            Ela consiste em colar um único fio de cílio sintético em cada cílio natural, criando um
                            efeito mais natural e suave.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="glass"></div>
                    <div class="content">
                        <h1>2. Volume Egípcio
                        </h1>
                        <p>método avançado de alongamento de cílios que combina fios ultrafinos em leques abertos de
                            forma estratégica, criando um efeito volumoso, mas com acabamento leve e estruturado. Essa
                            técnica valoriza a curvatura e a definição dos fios, proporcionando um olhar expressivo e
                            sofisticado.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="glass"></div>
                    <div class="content">
                        <h1>3. Volume Brasileiro
                        </h1>
                        <p>leques de volume feitos manualmente, com fios mais finos e delicados, resultando em um efeito
                            mais natural e macio. Diferente do volume russo, ele preza por uma distribuição mais suave e
                            alinhada, garantindo um olhar marcante sem perder a leveza.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="containerCardButton">
            <button onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';" class="btn-cta">Seja uma Lash
                Designer</button>
        </div>
    </div>

    <div class="containerCertificado">
        <div class="headlineCertificado">
            <h1>E ainda tem mais, receba seu certificado de conclusão ao finalizar seu curso!</h1>
        </div>
        <div class="textosCertificado">
            <div class="certificadoBox">
                <i class="ti ti-star-filled"></i>
                <i class="ti ti-star-filled"></i>
                <i class="ti ti-star-filled"></i>
                <i class="ti ti-star-filled"></i>
                <i class="ti ti-star-filled"></i>

                <p>
                    Ao concluir nosso curso online de Lash Designer, você não apenas adquire novas habilidades, mas
                    também
                    recebe o certificados de conclusão, testemunhando seu comprometimento e dedicação.
                </p>
                <p>
                    " Cada certificado é mais do que um papel, é o reconhecimento do seu esforço, talento e conquistas
                    ao
                    longo dessa jornada de aprendizado. Estamos emocionados por ter você conosco nesse caminho de
                    transformação e queremos celebrar cada passo do seu sucesso. "
                </p>
                <p>Amanda Lash Designer</p>
            </div>


            <h4>Agora você se tornou uma Lash Designer Certificada!</h4>

        </div>

    </div>

    <div class="containerProvaSocial">
        <div class="provaSocialTitulo">
            <h4>Veja os nossos Alunos com Certificados</h4>
        </div>
        <div class="provaSocial">
            <div class="provaSocialCarrossel">
                <div class="provaSocialImg" onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';">
                    <img src="/client/public/img/provaSocial1.jpg" alt="">
                </div>
                <div class="provaSocialDescricao">
                    <h4>Denise Tanuri e Catharine Diniz</h4>

                    <p>
                        <i class="ti ti-quote"></i>
                        O curso foi uma experiência incrível! Eu não sabia nada sobre design de cílios e, agora, me
                        sinto totalmente preparada para atender minhas clientes com segurança e qualidade. A didática é
                        excelente e o conteúdo é super completo!
                        <i class="ti ti-quote"></i>
                    </p>
                </div>
            </div>

            <div class="provaSocialCarrossel">
                <div class="provaSocialImg" onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';">
                    <img src="/client/public/img/provaSocial2.jpg" alt="">
                </div>
                <div class="provaSocialDescricao">
                    <h4>Riner Rainet</h4>

                    <p>
                        <i class="ti ti-quote"></i>
                        Com o curso de lash designer, eu aprendi técnicas que realmente fazem a diferença na
                        finalização dos meus trabalhos. As dicas sobre cuidados e manutenção dos cílios me ajudaram a
                        oferecer um serviço de altíssima qualidade.
                        <i class="ti ti-quote"></i>
                    </p>
                </div>
                

            </div>

            <div class="provaSocialCarrossel">
                <div class="provaSocialImg" onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';">
                    <img src="/client/public/img/provaSocial3.jpg" alt="">
                </div>
                <div class="provaSocialDescricao">
                    <h4>
                        Joyce neves
                    </h4>
                    <p>
                        <i class="ti ti-quote"></i> Além de aprender uma técnica maravilhosa, o curso me proporcionou
                        confiança e habilidade para lidar com diferentes tipos de clientes. Agora, minha agenda está
                        cheia! Valeu cada minuto de aprendizado.<i class="ti ti-quote"></i>
                    </p>
                </div>
            </div>
            
        </div>
        <div class="containerbutton">
            <button class="provaPrev">
                <i class="ti ti-arrow-narrow-left"></i>
                
            </button>
            <button class="provaNext">
                <i class="ti ti-arrow-narrow-right"></i>
            </button>

        </div>
    </div>
    <div class="containerOferta">
        <div class="titulo">
            <h3>VOCÊ DEVE ESTAR SE PERGUNTANDO: QUANTO VAI CUSTAR ISSO ?</h3>
            <h5>Você vai levar esse curso mega completo, e a oportunidade de mudar de vida, e criar um negócio
                que fatura mais de 10 mil reais por mês e conquistar sua liberdade financeira, pela bagatela de:</h5>
        </div>

        <div class="oferta">
            <div>
                <span>
                    <h4>
                        <i style="color: #FFD700; font-size: 25px;" class="ti ti-alert-square-rounded-filled"></i>
                        VOCÊ NÃO VERÁ ESSA OFERTA NOVAMENTE
                    </h4>
                </span>
            </div>
            <div>
                <h3>APROVEITE, POIS É SOMENTE PARA AS <span style="color: #FFD700;">10 PRIMEIRAS</span></h3>
            </div>

            <div class="contagem">
                <div>
                    <h3>00</h3>
                    <h4>Minutos</h3>
                </div>
                <div>
                    <h3>00</h3>
                    <h4>Segundos</h4>
                </div>
            </div>

            <div>
                <h4>
                    Promoção limitada de <span class="span-risk">R$ 297,00 por</span>
                </h4>
                <h3>
                    Apenas <span class="span-underline">7X de R$ 47,65</span>
                </h3>
                <h2 style="color: #FFD700;">
                    ou R$ 197,00 à Vista
                </h2>
            </div>

            <div class="pagamento">
                <button onclick="location.href='https://pay.kiwify.com.br/Yhn7P5o';">QUERO GARANTIR MEU CURSO</button>
            </div>
        </div>
    </div>

    <div class="containerPerguntas">
        <div class="titulo">
            <h2 style="color: #e60073;">FAQ</h2>
            <H4>Perguntas Frequentes</H4>
        </div>

        <div class="perguntas">
            <div class="pergunta1" onclick="abrirResposta(this)">
                <i class="ti ti-corner-right-down"></i>
                <h4>Tenho que pagar todo mês ?</h4>
            </div>
            <div class="resposta resposta1">
                <h5>Seu pagamento é apenas uma única vez e o Curso é seu para sempre</h5>
            </div>
            <div class="pergunta2" onclick="abrirResposta(this)">
                <i class="ti ti-corner-right-down"></i>
                <h4>E se por algum motivo eu não gostar do curso ?</h4>
            </div>
            <div class="resposta resposta2">
                <h5>
                    Nós confiamos tanto em nossos estudos e pesquisas que lhe garantimos 7 dias de garantia
                    incondicional!
                </h5>
            </div>
            <div class="pergunta3" onclick="abrirResposta(this)">
                <i class="ti ti-corner-right-down"></i>
                <h4>O curso terá certificado ?</h4>
            </div>
            <div class="resposta resposta3">
                <h5>
                    Sim! ao completar o curso você terá acesso a 20 Certificados
                </h5>
            </div>
        </div>
    </div>


    <div class="containerRodape">
        <section>
            <footer>
                <p style="font-weight: bold;">Copyright © 2025 - Nome Curso - Curso de Lash designer profissional. Todos
                    os direitos reservados.</p>
                <p style="font-size: 10px; font-weight: inherit ;">
                    Nenhuma informação contida neste produto deve ser interpretada como uma afirmação da obtenção de
                    resultados. Qualquer referência ao desempenho passado ou potencial de uma estratégia abordada no
                    conteúdo não é, e não deve ser interpretada como uma recomendação ou como garantia de qualquer
                    resultado específico.
                </p>
            </footer>
        </section>
    </div>

</body>
<script src="/client/public/js/script.js"></script>

</html>