<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="/client/public/css/formatacao.css">
    <link rel="stylesheet" href="/client/public/css/style.css">
    <link rel="stylesheet" href="/client/public/css/curso.css">
    <link rel="stylesheet" href="/client/public/css/inicial.css">
    <link rel="stylesheet" href="/client/public/css/siler.css">
    <link rel="stylesheet" href="/client/public/css/oferta.css">
    <link rel="stylesheet" href="/client/public/css/pergunta.css">
    <link rel="stylesheet" href="/client/public/css/cards.css">

    <title>Estética - Amanda</title>
</head>

<body>
    <section id="inicial" class="">
        <div class="textosInicial">
            <div>
                <div class="headline">
                        <h1>Se especialize como uma Lash Designer</h1>
                        <p>Crie um Negócio de Sucesso na Área da estética!</p>
                        <p>Aprenda as técnicas mais avançadas e conquiste sua independência financeira.</p>
                        <p>Domine a arte dos cílios e transforme o seu olhar em um negócio lucrativo.</p>
                   
                <div class="header">
                    <a href="https://www.instagram.com/amandasouzaastudio/" target="_blank">
                        <i class="ti ti-brand-instagram-filled"></i>
                    </a>
                </div>
               
                <div class="containervideo">
                    <video class="video" src="/client/public/video/12470563_1920_1080_24fps.mp4" controls></video>
                </div>

                <div class="btn-insc">
                    <button class="btn-cta">FAZER MINHA INSCRIÇÃO!</button>
                </div>

            </div>
        </div>
    </section>

    <section id="curso">e
        <div class="textos">
            <h1>Como você acessa o seu curso?</h1>
            <p>Após finalizar o seu pedido você irá receber um e-mail contendo todas as informações para acessar a sua
                área restrita e assistir as aulas.</p>
            <p>Pelo e-mail você vai conseguir fazer o login na área restrita, assistir as aulas, baixar os bônus e
                emitir o seus certificados.</p>
            <button class="btn-cta">QUERO ME TORNAR UMA LASH BOSS</button>
        </div>
    </section>

    <div class="containerCardSiler">
        <div class="containerCard">
            <div class="slide">
                <div class="item" style="background-image: url(/client/public/img/10.jpeg);">
                    <div class="content">
                        <div class="name">Seja uma Lash Designer </div>
                        <div class="des">Higienização é uma parte fundamental e inicial para uma Lash Designer</div>
                        <button>Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/20.jpeg);">
                    <div class="content">
                        <div class="name">Modulo 1 - Comece por aqui </div>
                        <div class="des">suporte comunidade Seus primeiros passos com Lash Boss Oportunidade de carreira
                            Seja bem vinda ao curso/ oque voce vai aprender</div>
                        <button>Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/5.jpeg);">
                    <div class="content">
                        <div class="name">Modulo 2 - (pré cuidados) / Materiais / Higienização (O que você precisa
                            saber)</div>
                        <div class="des"></div>
                        <button>Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/99.jpeg);">
                    <div class="content">
                        <div class="name">Modulo 3 - Técnicas / Aplicação / Erros para não cometer (Execução)</div>
                        <div class="des">Melhores técnicas para executar em menos tempos. Erros para evitar um Cliente
                            insatisfeito</div>
                        <button>Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/4.jpeg);">
                    <div class="content">
                        <div class="name">Modulo 4 - Manutenção / remoção / pós cuidados </div>
                        <div class="des">Peridicidade para Manutenção, remoção e pós cuidado para manter o cliente Fixo
                            com você.</div>
                        <button>Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/testebom.jpeg);">
                    <div class="content">
                        <div class="name">Modulo 5 - Definir preços / Técnicas de comunicação / Marketing pessoal </div>
                        <div class="des">Saiba definir os preços com base no custo dos Equipamentos e tempo de esforço
                            por cliente. Esse módulo fornece técnicas de comunicação para fazer o cliente ter o
                            pertencimento do lugar. Por úlitmo, um marketing frequente para manter seu conteúdo
                            atualizado.</div>
                        <button>Seja Lash</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/client/public/img/teste.jpeg);">
                    <div class="content">
                        <div class="name">Modulo Bônus - Pós atendimento </div>
                        <div class="des">Saiba definir os preços com base no custo dos Equipamentos e tempo de esforço
                            por cliente. Esse módulo fornece técnicas de comunicação para fazer o cliente ter o
                            pertencimento do lugar. Por úlitmo, um marketing frequente para manter seu conteúdo
                            atualizado.</div>
                        <button>Seja Lash</button>
                    </div>
                </div>
            </div>

            <div class="button">
                <button class="prev"><i class="ti ti-arrow-narrow-left"></i></button>
                <button class="next"><i class="ti ti-arrow-narrow-right"></i></button>
            </div>

        </div>
    </div>

    <div class="containerCards">
        <div class="container">
            <div class="card">
                <div class="box">
                    <div class="glass"></div>
                    <div class="content">
                        <h1>1. Alongamento de Cílios
                        </h1>
                        <p>O alongamento de cílios "Fio a Fio" é a técnica mais básica e popular de aplicação de cílios.
                            Ela consiste em colar um único fio de cílio sintético em cada cílio natural, criando um
                            efeito mais natural e suave.</p>
                        <button>Seja uma Lash Designer</button>
                    </div>
                </div>
                <div class="box">
                    <div class="glass"></div>
                    <div class="content">
                        <h1>2. Volume Russo
                        </h1>
                        <p>O alongamento de cílios Volume Russo envolve a aplicação de múltiplos cílios (geralmente
                            entre 2 a 6 fios) em cada cílio natural, criando um efeito de volume espesso e exuberante.
                            Os fios são mais finos e leves para não danificar os cílios naturais.</p>
                        <button>Seja uma Lash Designer</button>
                    </div>
                </div>
                <div class="box">
                    <div class="glass"></div>
                    <div class="content">
                        <h1>3. Volume Híbrido
                        </h1>
                        <p>O Volume Híbrido é uma combinação das técnicas de Fio a Fio e Volume Russo. A aplicação é
                            feita alternando entre cílios individuais (fio a fio) e múltiplos fios (volume russo),
                            criando um look equilibrado com mais volume, mas ainda mantendo um toque de naturalidade.
                        </p>
                        <button>Seja uma Lash Designer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="containerOferta">
        <div class="titulo">
            <h3>VOCÊ DEVE ESTAR SE PERGUNTANDO: QUANTO VAI CUSTAR ISSO ?</h3>
            <h5>Você vai levar esse curso mega completo, e a oportunidade de mudar de vida, e criar um negócio
                que fatura mais de 10 mil reais por mês e conquistar sua liberdade financeira, pela bagatela de:</h5>
        </div>

        <div class="oferta">
            <div>
                <span>
                    <h4>
                        <i style="color: #FFD700; font-size: 25px;" class="ti ti-alert-square-rounded-filled"></i>
                        VOCÊ NÃO VERÁ ESSA OFERTA NOVAMENTE
                    </h4>
                </span>
            </div>
            <div>
                <h3>APROVEITE, POIS É SOMENTE PARA AS <span style="color: #FFD700;">10 PRIMEIRAS</span></h3>
            </div>

            <div class="contagem">
                <div>
                    <h3>00</h3>
                    <h4>Minutos</h3>
                </div>
                <div>
                    <h3>00</h3>
                    <h4>Segundos</h4>
                </div>
            </div>

            <div>
                <h4>
                    Promoção limitada de <span class="span-risk">R$ 197,00 por</span>
                </h4>
                <h3>
                    Apenas <span class="span-underline">7X de R$ 49,90</span>
                </h3>
                <h2 style="color: #FFD700;">
                    ou R$ 49,90 à Vista
                </h2>
            </div>

            <div class="pagamento">
                <button>QUERO GARANTIR MEU CURSO</button>
            </div>
        </div>
    </div>

    <div class="containerPerguntas">
        <div class="titulo">
            <h2 style="color: #e60073;">FAQ</h2>
            <H4>Perguntas Frequentes</H4>
        </div>

        <div class="perguntas">
            <div class="pergunta1" onclick="abrirResposta(this)">
                <i class="ti ti-corner-right-down"></i>
                <h4>Tenho que pagar todo mês ?</h4>
            </div>
            <div class="resposta resposta1">
                <h5>Seu pagamento é apenas uma única vez e o Curso é seu para sempre</h5>
            </div>
            <div class="pergunta2" onclick="abrirResposta(this)">
                <i class="ti ti-corner-right-down"></i>
                <h4>E se por algum motivo eu não gostar do curso ?</h4>
            </div>
            <div class="resposta resposta2">
                <h5>
                    Nós confiamos tanto em nossos estudos e pesquisas que lhe garantimos 7 dias de garantia
                    incondicional!
                </h5>
            </div>
            <div class="pergunta3" onclick="abrirResposta(this)">
                <i class="ti ti-corner-right-down"></i>
                <h4>O curso terá certificado ?</h4>
            </div>
            <div class="resposta resposta3">
                <h5>
                    Sim! ao completar o curso você terá acesso a 20 Certificados
                </h5>
            </div>
        </div>
    </div>


    <div class="containerRodape">
        <section>

        </section>
    </div>

    <script src="/client/public/js/script.js"></script>
</body>
<script src="/client/public/js/script.js"></script>

</html>