.containerCards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../img/BackgroundCards.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    padding: 50px 0;
    z-index: 0;
}

.hl_cards{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hl_cards h1{
    font-size: 60px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 90vw;
    max-width: 400px;
    max-height: 570px;
    background: white;
    padding: 20px;
    margin: 20px;
}

.box .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    color: black;
    letter-spacing: 0.2rem;
    padding: 20px;
    text-align: center;
}

.box .content h1 {
    font-size: clamp(0.8rem, 1.4vw, 2.1rem);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

.box .content p {
    font-size: clamp(1rem, 2.5vw, 1.125rem);
}

.box .content h3 {
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: 2.5rem;
}

.box .glass {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    display: block;
    pointer-events: none;
}

.box::before,
.box::after {
    content: "";
    position: absolute;
    inset: -5px;
    z-index: -1; /* Ajustar o z-index */
}

.box:nth-child(1):before,
.box:nth-child(1):after {
    background: conic-gradient(from var(--angle), #FB0062, #FECDCF, #FF3D89, #FECDCF, #FB0062);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
    background: conic-gradient(from var(--angle), #FB0062, #FECDCF, #FF3D89, #FECDCF, #FB0062);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
    background: conic-gradient(from var(--angle), #FB0062, #FECDCF, #FF3D89, #FECDCF, #FB0062);
}

.box::after {
    z-index: -2;
    filter: blur(20px);
}

.box:hover::before,
.box:hover::after {
    animation: glowing-border 3.5s linear infinite;
    z-index: -2; /* Garantir que as bordas fiquem visíveis */

}

.box:hover::after {
    animation: glowing-border 3.5s linear infinite, blur-effect 3.5s linear infinite;
}


@property --angle {
    syntax: "<angle>";
    initial-value: 53deg;
    inherits: false;
}

@keyframes glowing-border {
    from {
        --angle: 53deg;
    }

    to {
        --angle: 413deg;
    }
}

@keyframes blur-effect {
    from {
        filter: blur(20px);
    }

    to {
        filter: blur(19px);
    }
}

@media (max-width: 1024px) {
    .card {
        gap: 80px;
    }

    .box {
        width: 35vw;
        height: 45vh;
    }

    .box .content h1 {
        font-size: clamp(1.5rem, 5vw, 1.7rem);
    }

    .box .content p,
    .box .content h3 {
        font-size: clamp(0.8rem, 2.5vw, 1rem);
    }

}

@media (max-width: 768px) {
    .container {
        padding: 12px;
    }

    .card {
        gap: 40px;
    }

    .box {
        width: 40vw;
        height: 40vh;
    }

    .box .content {
        padding: 10px 15px;
    }

    .box .content h1 {
        font-size: clamp(1.3rem, 3vw, 1.4rem);
    }

    .box .content p,
    .box .content h3 {
        font-size: clamp(0.8rem, 2.5vw, 0.9rem);
    }
}

@media (max-width: 480px) {
    .box {
        width: 70vw;
        height: 35vh;
        padding: 10px;
    }

    .content {
        gap: 5px;
        padding: 10px;
    }

    .content h1 {
        font-size: 1.3rem;
    }

    .content p,
    .content h3 {
        font-size: 1rem;
    }
}