#curso {
    background-image: url(../img/Background_Curso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    width: 100vw;
    display: flex; /* Cria um container flexbox */
    justify-content: flex-end; /* Ajusta alinhamento horizontal */
    align-items: center;
    padding: 10px 25px;
    flex-direction: column;
    position: relative;
  }
  

  h1{
    font-size: 45px;
    color: #FF91BC;
    margin: 0;
    margin-top: 10px;
  }

  p{
    font-size: 20px;
  }
  


  button.btn-cta {
  background: linear-gradient(to right, #FECDCF, #FF3D89);
  color: black; /* Cor branca */
  font-family: serif; /* Fonte serif para um aspecto clássico */
  font-weight: lighter;
  font-size: 20px;
  margin-top: 25px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra para profundidade */
  transition: all 0.3s ease-in-out; /* Adiciona uma transição suave para hover */
  }

  .btn-cta:hover {
    background: #fff;
    color: #000;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
    transition: all 0.3s ease-in-out;
  }