
.containerOferta {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    
}

.containerOferta .titulo {
    width: 80%;
}

.oferta {
    width: 75%;
    border-radius: 20px;
    background: linear-gradient(to bottom, #FF1493, #8B008B);
    /* Gradiente de rosa claro para rosa escuro */
    color: white;
    /* Tornando o texto visível com a cor branca */
}

.contagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contagem div {
    background-color: #FFD700;
    border-radius: 20px;
    width: 150px;
    /* padding: 15px 25px; */
}

.contagem div h3,
.contagem div h4 {
    margin: 0;
}

.pagamento button {
    padding: 15px;
    background-color: #FFD700;
    color: #000;
    border-radius: 15px;
}

/* Efeito para o primeiro span */
.span-risk {
    position: relative;
    font-weight: bold;
    color: #FF1493;
    /* Cor do texto */
}

.span-risk::after {
    content: 'X';
    position: absolute;
    top: -25px;
    right: -10px;
    font-size: 50px;
    color: red;
    font-weight: bold;
    transform: rotate(45deg);
    opacity: 0;
    /* Inicialmente invisível */
    animation: showX 2s infinite;
    /* Chama a animação repetitiva */
}

@keyframes showX {
    0% {
        opacity: 0;
        transform: rotate(45deg) scale(0.5);
        /* Inicialmente invisível e pequeno */
    }

    50% {
        opacity: 1;
        transform: rotate(45deg) scale(1);
        /* Visível e tamanho normal */
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) scale(0.5);
        /* Volta a desaparecer e diminuir */
    }
}

/* Efeito para o segundo span */
.span-underline {
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #FFD700;
    /* Cor do texto */
}

.span-underline::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #FFD700;
    /* Cor do risco */
    opacity: 0;
    /* Inicialmente invisível */
    animation: showUnderline 2s infinite;
    /* Animação repetitiva do risco */
}

@keyframes showUnderline {
    0% {
        opacity: 0;
        width: 0%;
        /* Inicialmente invisível e sem largura */
    }

    50% {
        opacity: 1;
        width: 100%;
        /* Risco visível e com largura completa */
    }

    100% {
        opacity: 0;
        width: 0%;
        /* Risco desaparece novamente */
    }
}
